$app-font-size: 16px; // 1rem usually
$app-min-width: 400px; // $app-font-size * 25

:root {
  color-scheme: light dark;

  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  @media (prefers-color-scheme: light) {
    --text-color: #213547;
    --background-color: #ffffff;
  }
}

:root {
  font-family: Arial, sans-serif;
  font-size: $app-font-size;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: $app-min-width) {
  :root {
    // Shrink whole app, as it mostly relies on rem units
    font-size: calc(100vw / ($app-min-width / $app-font-size));
  }
}
