$app-font-size: 20px;
$app-min-width: calc($app-font-size * 25);

:root {
  color-scheme: light dark;

  --text-color: #e3e3e3;
  --link-text-color: #34a8eb;
  --background-color: #242424;

  @media (prefers-color-scheme: light) {
    --text-color: #213547;
    --link-text-color: #0074b8;
    --background-color: #ffffff;
  }
}

:root {
  font-family: Arial, sans-serif;
  font-size: $app-font-size;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
}

a, a:visited {
  color: var(--link-text-color);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

@media (max-width: $app-min-width) {
  :root {
    // Shrink whole app, as it mostly relies on rem units
    font-size: calc(100vw / ($app-min-width / $app-font-size));
  }
}
